---
import Section from "./Section.astro";
import Stats from "./Stats.astro";

const { build } = Astro.props;
---

<main class="page-wrapper">
  <Section
    title="Stats"
    subtitle={`Optimal distribution for SL ${build.info.targetLevel}`}
    romanNumeral="I"
  >
    <Stats build={build} />
  </Section>
  <Section title="Weapons" subtitle="Optimal weapon choices" romanNumeral="II">
    Render Weapons...
  </Section>
  <Section title="Rings" subtitle="Optimal ring choices" romanNumeral="III">
    Render Rings...
  </Section>
  <Section title="Armor" subtitle="Optimal armor choices" romanNumeral="IV">
    Render Armor...
  </Section>
</main>

<style>
  .page-wrapper {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 24px 100px;
  }
</style>
